<!DOCTYPE html>
<html lang='en'>
	
	<head>
		<% include ../partials/head %>
	</head>

	<header>
		<% include ../partials/header %>
	</header>

	<main>
		<h3 style="text-align:center">Welcome <%= user%></h3>
	</main>

	<footer>
		<%include ../partials/footer %>
	</footer>

</html>
